
$color-black: #101010;
$color-white: #e9e9e9;
$color-grey: #c3c3c3;
$color-gray: $color-grey;

// https://mycolor.space/?hex=%23845EC2&sub=1
$wd-lt-purple: #845ec2;
$wd-lt-pink: #d65db1;
$wd-lt-salmon: #ff6f91;
$wd-lt-peach: #ff9671;
$wd-lt-orange: #ffc75f;
$wd-lt-yellow: #f9f871;

// https://mycolor.space/?hex=%23322B3F&sub=1
$wd-dk-purple: #322b3f;
$wd-dk-pink: #6d4460;
$wd-dk-salmon: #ae5e6e;
$wd-dk-peach: #e3846a;
$wd-dk-orange: #ffb962;
$wd-dk-yellow: #f9f871;

