// use general breakpoints, not device-specific ones
// https://www.freecodecamp.org/news/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862/
$xs-min-width-px: 0;
$xs-min-width-em: 0;

$small-min-width-px: 600px;
$small-min-width-em: ($small-min-width-px / $base-font-size) * 1em; // 37.5em

$medium-min-width-px: 900px;
$medium-min-width-em: ($medium-min-width-px / $base-font-size) * 1em; // 56.25em;

$large-min-width-px: 1200px;
$large-min-width-em: ($large-min-width-px / $base-font-size) * 1em; // 75em;

$huge-min-width-px: 1800px;
$huge-min-width-em: ($huge-min-width-px / $base-font-size) * 1em; // 112.5em;