$color-primary-0: #2B506F;
$color-primary-1: #718DA5;
$color-primary-2: #496C89;
$color-primary-3: #113553;
$color-primary-4: #042037;

$color-secondary-0: #ACA83B;
$color-secondary-1: #FFFCAA;
$color-secondary-2: #D4D16A;
$color-secondary-3: #817E14;
$color-secondary-4: #555200;

$color-white: #ffffff;
$color-black: #000000;

$background-color: $color-white;