// BASE FONT SIZE
// browsers typically assume a base font-size of 16px
$base-font-size: 16px; 

// RELATIVE FONT SIZES (PX)
// set the font size for extra-small screens
// each breakpoint above that will increase the pixel size by one
$xs-font-size-px: 8;
$small-font-size-px: $xs-font-size-px + 1;
$medium-font-size-px: $xs-font-size-px + 2;
$large-font-size-px: $xs-font-size-px + 3;
$huge-font-size-px: $xs-font-size-px + 4;

// VIEWPORT-BASED FONT SIZES
// use the below font-size values for setting the root em value
// for medium displays, get the root rem value down to 10px for easier math
// use that as the basis for the other display sizes
$xs-font-size-rem: ($xs-font-size-px * 1px) / $base-font-size * 100%;
$small-font-size-rem: ($small-font-size-px * 1px) / $base-font-size * 100%;
$medium-font-size-rem: ($medium-font-size-px * 1px) / $base-font-size * 100%;
$large-font-size-rem: ($large-font-size-px * 1px) / $base-font-size * 100%;
$huge-font-size-rem: ($huge-font-size-px * 1px) / $base-font-size * 100%;

// DEFAULT FONT SIZE
// when in doubt, set an element's font-size to this
$default-font-size: 1.6rem;